@font-face {
  font-family: 'iconfont';  /* project id 2352141 */
  src: url('http://at.alicdn.com/t/font_2352141_rass95378d.eot');
  src: url('http://at.alicdn.com/t/font_2352141_rass95378d.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_2352141_rass95378d.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_2352141_rass95378d.woff') format('woff'),
  url('http://at.alicdn.com/t/font_2352141_rass95378d.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_2352141_rass95378d.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji-copy:before {
  content: '\e630';
}

.icon-denglumima:before {
  content: '\e634';
}
.icon-search:before {
  content: '\e657';
}

.icon-line:before {
  content: '\e63a';
}

.icon-history:before {
  content: '\e600';
}

.icon-hot:before {
  content: '\e6cb';
}
.icon-bofang:before {
  content: '\e6b9';
}

.icon-bofang1:before {
  content: '\e6cc';
}
.icon-zanting:before {
  content: '\e782';
}
.icon-playing:before {
  content: '\e61c';
}
.icon-pre:before {
  content: '\e77f';
}
.icon-next:before {
  content: '\e783';
}
.icon-palycircle:before {
  content: '\e781';
}
.icon-timeout:before {
  content: '\e784';
}
.icon-sound:before {
  content: '\e7da';
}
.icon-suiji:before {
  content: '\e71f';
}
.icon-xunhuan:before {
  content: '\e60a';
}
.icon-xunhuan-one:before {
  content: '\e66d';
}
.icon-geci:before {
  content: '\e727';
}
.icon-liebiao:before {
  content: '\e655';
}
.icon-jingyin:before {
  content: '\e747';
}
.icon-trash:before {
  content: '\e682';
}
.icon-shoucang:before {
  content: '\e624';
}
.icon-playall:before {
  content: '\e643';
}
.icon-comment:before {
  content: '\e612';
}
.icon-zan:before {
  content: '\e62a';
}
.icon-shoucang1:before {
  content: '\e604';
}
.icon-fenxiang:before {
  content: '\e6c4';
}
.icon-MV:before {
  content: '\e62c';
}
.icon-yonghu:before {
  content: '\e603';
}
.icon-blog:before {
  content: '\e656';
}
.icon-music:before {
  content: '\e62b';
}

