$themeColor: #5dd5c8;
$navHeight: 70px;
$width: 100vw;
$layoutPadding: calc((#{$width} - 1370px) / 2);
$homePadding: 20px;
$activeColor: rgb(248, 40, 0);
$white: #ffffff;
$titleFontSize: 20px;
$textColor: #5e5e5e;
